@import "../lib/bootstrap/less/bootstrap.less";
@icon-font-path: "../lib/bootstrap/dist/fonts/";

@import "../trex/less/form-bs3.less";

.add-series {
    margin: 0 10px 10px;
    width: 500px;
}

.select-active {
    background: #ffd;

    input {
        background: #ffd;
    }
}

#column-table {
    th, td {
        height: 40px;
    }
    .th-title {
        padding-right: 4px;
    }
    .th-series {
        padding: 0 4px;
    }
    .td-series {
        width: 100px;
    }

    .form-control {
        display: inline;
    }
    .controls {
        padding-left: 4px;
    }
}
