{%- set page_title = 'Graphs' -%}
{%- extends 'base.jinja2' %}
{%- block content -%}
    <div class="page-header">
        <h1>Available graphs</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Creator</th>
                <th>Table</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for graph in graphs %}
                <tr>
                    <td>{{ graph.title }}</td>
                    <td>{{ graph.created | quantum('datetime') }}</td>
                    <td>{{ graph.creator.display_name }}</td>
                    <td>{{ graph.table.title }}</td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-default" href="{{ url_for('index.view_graph', graph_id=graph.id) }}">View</a>
                        <a class="btn btn-sm btn-default" href="{{ url_for('index.edit_graph', graph_id=graph.id) }}">Edit</a>
                        <button class="btn btn-sm btn-danger trex-post-simple-confirm" data-href="{{ url_for('index.delete_graph', graph_id=graph.id) }}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="well text-center">To make a new graph, go to <a href="{{ url_for('index.tables') }}">tables</a> and choose "Make graph" for the appropriate table.</div>
{%- endblock -%}
{% block script %}
{% endblock %}
