{%- set page_title = 'Home' -%}
{%- extends 'base.jinja2' %}
{%- block content -%}
    <h2>Begin import</h2>
    <div class="row">
        {{ trex.form_render(form, 'Import') }}
    </div>
{%- endblock -%}
{% block script %}
{% endblock %}
