{%- set page_title = 'Home' -%}
{%- extends 'base.jinja2' %}
{%- block content -%}
    <div class="page-header">
        <h1>Wiki New Zealand Hackfest</h1>
    </div>
    <ul>
        <li><a href="{{ url_for('index.spreadjs') }}">Play with extractor</a>
    </ul>
{%- endblock -%}
