{%- set page_title = 'Sources' -%}
{%- extends 'base.jinja2' %}
{%- block content -%}
    <div class="page-header">
        <a class="btn btn-primary pull-right" href="{{ url_for('index.import_begin') }}"><span class="glyphicon glyphicon-import"></span> Import an Excel file</a>
        <h1>Available sources</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Creator</th>
                <th>Source</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for source in sources %}
                <tr>
                    <td>{{ source.title }}</td>
                    <td>{{ source.created | quantum('datetime') }}</td>
                    <td>{{ source.creator.display_name }}</td>
                    <td>{{ source.source}}</td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-default disabled" href="#">Update</a>
                        <a class="btn btn-sm btn-default" href="{{ url_for('index.spreadjs', source_id=source.id) }}">Extract table</a>
                        <a class="btn btn-sm btn-default" href="{{ url_for('index.download_source', source_id=source.id) }}">Download</a>
                        <button class="btn btn-sm btn-danger trex-post-simple-confirm" data-href="{{ url_for('index.delete_source', source_id=source.id) }}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="well text-center">To make a new source, <a href="{{ url_for('index.import_begin') }}">import an excel file</a>.</div>

{%- endblock -%}
{% block script %}
{% endblock %}
