{%- set page_title = 'Table: %s'|format(table.title) -%}
{%- extends 'base.jinja2' %}
{%- block content -%}
    <div class="page-header">
        <a href="{{ url_for('index.create_graph', table_id=table.id) }}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-stats"></span> Make graph from this table</a>
        <h1>Table <span class="muted">&gt;</span> {{ table.title }}</h1>
    </div>
    <p>
    {{ table.description }}
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for col in table.data.cols %}
                    <th>{{ col.title.value }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.as_rows() %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell.value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{%- endblock -%}
{% block script %}
{% endblock %}
