{%- import 'trex.jinja2' as trex with context -%}
<!DOCTYPE html>
<html class="{{ ' '.join(html_classes) }}{% if g.user %} user-role-{{ g.user.role }}{% endif %}" id="{{ html_id }}" data-csrf-token="{{ csrf_token() }}">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title|page_title('Wiki New Zealand Hackfest') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ cdn('less/app.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="header">
            {% if g.user %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">

                     <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('index.index') }}">Wiki New Zealand Hackfest</a>
                     </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {{ trex.bootstrap_nav_item('index.index', 'Home') }}
                            {{ trex.bootstrap_nav_item('index.sources', 'Sources') }}
                            {{ trex.bootstrap_nav_item('index.tables', 'Tables') }}
                            {{ trex.bootstrap_nav_item('index.graphs', 'Graphs') }}
                        </ul>
                        {% if g.user.has_role('developer') %}
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developer <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% if g.user.has_flag('trex.user_management') %}{{ trex.bootstrap_nav_item('trex.user_management.index', 'User Management', match='trex.user_management.') }}{% endif %}
                                        {% if g.user.has_flag('trex.audit_log') %}{{ trex.bootstrap_nav_item('trex.audit_log.index', 'Audit Log') }}{% endif %}
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.display_name }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {{ trex.bootstrap_nav_item('trex.auth.change_password', 'Change password') }}
                                    <li class="divider"></li>
                                    {{ trex.bootstrap_nav_item('trex.auth.logout', 'Log out') }}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% else %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index.index') }}">Wiki New Zealand Hackfest</a>
                    </div>
                        <ul class="nav navbar-nav navbar-right">
                            {{ trex.bootstrap_nav_item('trex.auth.login', 'Login') }}
                        </ul>
                </div>
            </nav>
            {% endif %}
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {% for flash in g.identity.get_flashes() %}
                        <div class="flash alert alert-{{ flash.category == 'message' and 'info' or flash.category }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <div>{{ flash.get_message() }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block content %}page content here{% endblock %}
        </div>

            <script src="{{ cdn('lib/jquery/dist/jquery.js') }}"></script>
            <script src="{{ cdn('lib/underscore/underscore.js') }}"></script>
            <script src="{{ cdn('lib/backbone/backbone.js') }}"></script>
            <script src="{{ cdn('trex/js/trex.js') }}"></script>
            <script src="{{ cdn('trex/js/trex.util.js') }}"></script>
            <script src="{{ cdn('trex/js/trex.ux.js') }}"></script>
            <script src="{{ cdn('trex/js/trex.form.js') }}"></script>
            <script src="{{ cdn('trex/js/trex.form.files.js') }}"></script>
            <script src="{{ cdn('trex/js/trex.ux.confirm.js') }}"></script>
        {%- block script %}
        {%- endblock %}
        <!-- served by {{ hostname }} -->
  </body>
</html>
